@import "./widgets/session-menu/session-menu.scss"
@import "./widgets/modal/modal.scss"

* {
  all: unset;
  font-family: 'Geist';
}

.active-dot {
  color: #878787;
  background: transparent;
  font-size: 28;
  font-weight: 200;
}
