.sm-body {
  background: #0a0a0a;
  border: 1px solid;
  border-color: #2e2e2e;
  border-radius: 120px;
}

.sm-label {
  color: #a1a1a1;
  padding: 12px;
}

.sm-button-list {
  padding-right: 12px
}

.sm-button {
  padding: 0px 18px 0px 18px;
  border-radius: 120px;
}

.sm-button:hover {
  background: #0f2f57;
  color: #52a8ff;
}
